<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible " content="ie=edge">
    <title>Realtime Chat App | CodingNepal</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="wrapper">
        <section class="users">
            <header>
                <div class="content">
                   <img src="images/img6.jpg" alt="">
                   <div class="details">
                       <span>Mark</span>
                   </div>
                </div>
                <a href="#" class="logout">Logout</a>
            </header>
            <div class="search">
                <span class="text">Select an user to start chat</span>
                <input type="text" placeholder="Enter name to search...">
                <button><i class="fas fa-search"></i></button>  
            </div>
            <section class="users-list">
                <header>
                    <div class="content">
                       <img src="images/img1.jpeg" alt="">
                       <div class="details">
                           <span>Vasya</span>
                           <p>This is test message</p>
                       </div>
                    </div>
                    <div class="stastus-dot"><i class="fas fa-circle"></i></div>
                </header>
                <header>
                    <div class="content">
                       <img src="images/img5.jpg"alt=" ">
                       <div class="details">
                           <span>Sanya</span>
                           <p>This is test message</p>
                       </div>
                    </div>
                    <div class="stastus-dot"><i class="fas fa-circle"></i></div>
                </header>
                <header>
                    <div class="content">
                       <img src="images/img3.jpg" alt="">
                       <div class="details">
                           <span>Gleb</span>
                           <p>This is test message</p>
                       </div>
                    </div>
                    <div class="stastus-dot"><i class="fas fa-circle"></i></div>
                </header>
                <header>
                    <div class="content">
                       <img src="images/img2.jpeg" alt="">
                       <div class="details">
                           <span>Ivan</span>
                           <p>This is test message</p>
                       </div>
                    </div>
                    <div class="stastus-dot"><i class="fas fa-circle"></i></div>
                </header>
                <header>
                    <div class="content">
                       <img src="images/img4.jpeg" alt="">
                       <div class="details">
                           <span>Vlad</span>
                           <p>This is test message</p>
                       </div>
                    </div>
                    <div class="stastus-dot"><i class="fas fa-circle"></i></div>
                </header>

            </div>
        </section>

        <div class="wrapper">
            <section class="chat-area">

                <header>
                    <a href="#" class="back-icon"><i class="fas fa-arrow-left"></i></a>
                    <img src="images/img1.jpeg" alt="">
                    <div class="details">
                        <span>Vasya</span>
                        <p>Online</p>
                     </div>
                </header>
                <div class="chat-box">
                    <div class="chat outgoing">
                        <div class="details">
                            <p>Hey, how are you, man?</p>
                        </div>
                    </div>
                    <div class="chat incoming">
                        <img src="images/img1.jpeg" alt="">
                        <div class="details">
                            <p>Hi, I'm okay, dude</p>
                        </div>
                    </div>
                </div>
                <form action="#" class="typing-area">
                    <input type="text" placeholder="Type  a message">
                    <button><i class="fab fa-telegram-plane"></i></button>
                </form>
            </section>

        </div>
    </div>
     <script src="javacript/users.js"></script>
</body>
</html>